@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body{
        max-width: 800px;
        margin: 2rem auto;
    }
    .user-nav{
       background-color: rgb(50, 50, 50);
    }
    h1{
        font-size: 30px;
    }
    i.fa-clipboard{
        font-size: 25px;
    }
    #createTaskBtn{
        margin: 1em auto;
    }

    .inputContainer{
        margin: 0 auto;
        display: none;
    }

    .add-task{
        padding: .48rem .6rem;
    }

}
